<div class="container">
  <div class="bg-img">
    <div class="searcher">
      <div class="searcher-container">
      <h2>Juega a lo que te apetezca</h2>
      <h4>Encuentra eventos cerca de ti</h4>
      <div class="searcher-box">
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>ej. Calle París, 18, Toledo</mat-label>
        <input matInput >
      </mat-form-field>
      <div  class="btn-box">
      <button>Buscar</button>
    </div>
  </div>
</div>
</div>
</div>
</div>

