.container{
  margin: 0 auto;
  padding: 10px 0;
  margin-bottom: 60px;

  .bg-img{
    background-image: url("../../../assets/img/cabecera.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    height: 500px;
    display: flex;
    justify-content: center;
    .searcher{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      margin-bottom: 10px;
      background-color: rgb(255, 255, 255);
      width: 65%;
      height: 250px;
      margin-top: auto;
      margin-bottom: -30px;
      border-radius: 4px;
      box-shadow: 0px 0px 50px -11px rgba(0,0,0,0.86);
      .searcher-container{
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
      h2{
        margin-top: 8px;
        color: rgb(11, 37, 131);
        font-size: 45px;
      }
      h4{
        margin-top: 12px;
        font-weight: 200;
      }
      .searcher-box{
        display: flex;

      mat-form-field{
        margin-top: 10px;
        width: 85%;

        height: 100px;



      }
      .btn-box{
        width: 15%;
        margin-top: 10px;
        text-align: left;
      button{
        justify-content: flex-start;
        border: 0;
        height: 60px;
        border-radius: 0px 22px 22px 0px !important;
        background-color: rgba(17, 73, 105, 0.438);
        border: 1px ridge rgba(28,110,164,0.2);

        width: 100%;
      }
      }
    }
    }
  }
}
}


@media (max-width: 992px) {
  .container{

    .bg-img{

      .searcher{
        width: 70%;
        .searcher-container{

        h2{
          margin-top: 8px;
          color: rgb(11, 37, 131);
          font-size: 28px;
        }
        h4{
          margin-top: 12px;
          font-size: 17px;
          font-weight: 200;
        }
        .searcher-box{
          display: flex;
          margin-left: 3%;
          margin-right: 3%;
        mat-form-field{
          margin-top: 10px;

          width: 75%;
          height: 80px;
          mat-label{
            font-size: 13px;
          }


        }
        .btn-box{
          width: 25%;
          margin-top: 10px;
          text-align: left;
        button{
         font-size: 13px;
        }
        }
      }
      }
    }
  }
  }
}

@media (max-width: 560px) {
  .container{
    margin-left: 8%;
    margin-right: 8%;
    width: 84%;


    .bg-img{

      .searcher{
        width: 70%;
        .searcher-container{

        h2{
          margin-top: 4px;

          font-size: 24px;
        }
        h4{
          margin-top: 12px;
          font-size: 14px;
          font-weight: 200;
        }
        .searcher-box{
          display: flex;
          margin-left: 7%;
          margin-right: 7%;
        mat-form-field{
          margin-top: 10px;

          width: 75%;
          height: 80px;
          mat-label{
            font-size: 12px;
          }


        }
        .btn-box{
          width: 25%;
          margin-top: 10px;
          text-align: left;
        button{
         font-size: 12px;
        }
        }
      }
      }
    }
  }
  }
}
