.container{
  margin: 10px auto;
  background-color: rgba(34, 118, 197, 0.062) !important;
  padding: 20px 0;




  .container-footer{

    display: flex;
    justify-content: center;
    height: auto;
    h5{

      padding: 20px auto;

    }
  }
}
