<div class="container_info">
  <div class="img">
    <img src="https://images.unsplash.com/photo-1520402230634-5ae6b284f74b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" alt="">
  </div>

  <div class="description">
    <h3>Evento creado por:</h3>
    <p>{{event.creador}}</p>
    <h3>participantes:</h3>
    <p>0/24</p>
   <h3>Descripcion del evento</h3> <p>Partido de futbol en el campo Santiago Bernabeu</p>
   <h3>Hora:</h3>
   <p>{{event.hora}}</p>

  </div>
</div>
