<menu id="user" class="dynamicMenu">

  <div class="user-profile">
    <div class="profile-pic">
      <img src="https://images.unsplash.com/photo-1549669944-ca3e8b576248?ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80" alt="username here" />
    </div>

    <div class="user-info">
      <div class="username">
        <p><strong> Laura Egan</strong> </p>
      </div>
      <ul class="profile-menu">
        <li>Contraseña:</li>
        <li>Apellido</li>
        <li>Edad:</li>
        <li>Email:</li>
        <li>Localidad:</li>
      </ul>
    </div>
  </div>

  <ul class="admin-menu">Friends
    <li><a href="#">Angel elLeds</a></li>
    <li><a href="#">Penks eLmAGO</a></li>


  </ul>
</menu>

<main>
  <section>
    <h2>Sports</h2>

    <p><strong>Los deportes que más me gusta practicar</strong> <br>
      <ul>
        <li>futbol</li>
        <li>padel</li>
      </ul>
<br><br>
      <h2>Sobre mi</h2>

      <ol>
        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
        <li>Aliquam tincidunt mauris eu risus.</li>
      </ol>
   <br><br>
   <h2>Events User</h2>
    <br>
          <div class="row">
            <div class="col-md-4">
              <div class="card-content">
                <div class="card-img">
                  <img src="https://placeimg.com/640/480/nature?t=1558481156602" alt="">
                  <span><h4>Evento1</h4></span>
                </div>
                <div class="card-desc">
                  <h3>Evento1</h3>
                  <p>The words nature and natural are used for all the things that are normally not made by humans. Things like weather, organisms, landforms, celestial bodies and much more are part of nature. ...</p>
                  <a href="#" class="btn-card">Read more</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card-content">
                <div class="card-img">
                  <img src="https://placeimg.com/640/480/nature?t=1558481196666" alt="">
                  <span><h4>Evento2</h4></span>
                </div>
                <div class="card-desc">
                  <h3>Evento2</h3>
                  <p>The words nature and natural are used for all the things that are normally not made by humans. Things like weather, organisms, landforms, celestial bodies and much more are part of nature. ...</p>
                  <a href="#" class="btn-card">Read more</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card-content">
                <div class="card-img">
                  <img src="https://placeimg.com/640/480/nature?t=1558481287512" alt="">
                  <span><h4>Evento3</h4></span>
                </div>
                <div class="card-desc">
                  <h3>Evento3</h3>
                  <p>The words nature and natural are used for all the things that are normally not made by humans. Things like weather, organisms, landforms, celestial bodies and much more are part of nature. ...</p>
                  <a href="#" class="btn-card">Read more</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12">

            <button>Add me to friends
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </button>

          </div>



  </section>
</main>
