

$text-color:#747373;
$header-height:60px;
html,
body {
  height: 100%;
  position: relative;
  background-color:#fbfefc;
}

header {
  position: fixed;
  width: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  background:rgba(#d8af83,.8);
  height: $header-height;
  padding: 12px 0;
  z-index: 999;
}

.site-title h1 {
  margin: 5px 0 0;
  padding: 0;
  font-size: 24px;
  color: #071b0e;
}



menu {
  width: 260px;
  position: fixed;
  padding:0;
  z-index: 10;
  height: calc(100% - 100px);
  overflow-y: auto;
  background:rgba(#D6D6D4, .2);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);

  top: $header-height;
  left: 50px;
  margin: 0;
  overflow-y: auto;
  ul {

    clear: both;
    float: unset;
  }
  > div {
    padding:10px;
  }
}

#filter_text {
  width: 100%;
  margin: 0;
}

menu .admin-menu {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    &:first-child{
      border-top:1px solid darken(rgba(#d8af83,.6), 5%);
    }
  }
  li a {
    clear: both;
    display: block;
    padding: 10px;
    margin: 0;
    color: #fff;
    font-size: 12px;
    letter-spacing: 1px;
    background: lighten(rgba(#d9b187,.4), .5%);
    border-bottom: 1px solid darken(rgba(#d9b187,.6), 5%);
    span {
      padding: 0 10px 0 0;
    }
    &:hover,
    &:active {

      text-decoration: none;
      background: darken(#8be5b1,15%);
    }
  }
}

menu .user-profile {
  padding: 10px;
  text-align: center;
  margin-bottom: 5px;
  float: left;
}

menu .profile-pic {

  img {
    width: 95px;
    margin: 0 auto;
    border-radius:50%;
    border: 2px solid #d8af83;
  }
}



menu .profile-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;

  li {
    padding: 0;
    margin: 0;

  }
  a {
    padding: 10px;
    color:#8be5b1;
  }
  a:hover,
  a:active {
    color:#d8af83;
  }
}

menu .username {
  font-size: 20px;
  text-align: left;
  color:#071b0e;
  letter-spacing: 1px;
  padding-left: 20px;
}

menu .filter-form {
  padding: 10px;
}


main {
  position: relative;
  width: calc(100% - (260px + 50px));
  min-height: 100%;
  height: auto !important;
  height: 100%;
  padding: 20px;
  margin-left: (260px + 50px);
  margin-top: $header-height;
  float: left;
  padding-bottom: $header-height;
  background: #fbfefc;
}


section {


  padding: 20px;
  margin: 10px 0;

}

//cards
.card-content {
	background: #ffffff;
	border: 4px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.card-img {
	position: relative;
	overflow: hidden;
	border-radius: 0;
	z-index: 1;
}

.card-img img {
	width: 100%;
	height: auto;
	display: block;
}

.card-img span {
	position: absolute;
    top: 15%;
    left: 12%;
    background: #2ecc71;
    padding-left:20px;
    padding:6px;
    color: #fff;
    font-size: 15px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transform: translate(-50%,-50%);
}
.card-img span h4{
        font-size: 13px;
        margin:0;
        padding:10px 5px;
         line-height: 0;
}
.card-desc {
	padding: 1.25rem;
}

.card-desc h3 {
	color: #000000;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 5px;
    padding: 0;
}

.card-desc p {
	color: #747373;
    font-size: 14px;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.5;
	margin: 0px;
	margin-bottom: 20px;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}
.btn-card{
	background-color: #2ecc71;
	color: #fff;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: .84rem 2.14rem;
    font-size: .81rem;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    margin: 0;
    border: 0;
    -webkit-border-radius: .125rem;
    border-radius: .125rem;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    color: #fff;
}
.btn-card:hover {
    background: #1abc9c;
}
a.btn-card {
    text-decoration: none;
    color: #fff;
}

button {
  margin-top: -400px;
  margin-bottom: auto;
  position: absolute;
  top: 20%;
  left: 80%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  padding: 30px 60px;
  font-size: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0 20px 50px rgba(black, .5);
  overflow: hidden;
  background-color: rgba(218, 178, 137, 0.4);

  &:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
    background: rgba(white, .05);
  }

  $line-size: 4px;

  span {
    position: absolute;
  }
  span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: $line-size;
    background: linear-gradient(to right, #ebe1c5, rgba(211, 164, 116, 0.6));
    animation: animate1 2s linear infinite;
  }

  span:nth-child(2) {
    top: 0;
    left: 0;
    width: $line-size;
    height: 100%;
    background: linear-gradient(to top, #ebe1c5, rgba(211, 164, 116, 0.6));
    animation: animate2 2s linear infinite;
  }
  span:nth-child(3) {
    bottom: 0;
    left: 0;
    width: 100%;
    height: $line-size;
    background: linear-gradient(to left, #ebe1c5, rgba(211, 164, 116, 0.6));
    animation: animate3 2s linear infinite;
  }
  span:nth-child(4) {
    top: 0;
    right: 0;
    width: $line-size;
    height: 100%;
    background: linear-gradient(to bottom, #ebe1c5, rgba(211, 164, 116, 0.6));
    animation: animate4 2s linear infinite;
  }

}


@keyframes animate1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes animate2 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes animate3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes animate4 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
