<div class="bg-container">
  <a class="home-brand" href="#">Logo</a>
  <div class="container">

    <div class="login-menu">

      <form class="form-signin">

        <h1 class="h3 mb-3 font-weight-normal">Inicia sesión</h1>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email" required="" autofocus="">
        <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required="">
        <div class="checkbox mb-3">
          <label>
            <input class="chRem" type="checkbox" value="remember-me"> Recuerdame
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar Sesión</button>

      </form>
      <div class="signup">
        <a [routerLink]="['/register']">
          ¿No tienes cuenta? Regístrate aquí!
        </a>
      </div>
    </div>
  </div>
</div>
