<div class="bg-container">
  <a class="home-brand" href="#">Logo</a>
  <div class="container">

    <div class="login-menu">

      <form [formGroup]="profileForm">
        <h1 class="h3 mb-3 font-weight-normal">Registrarse</h1>
        <p>
          <mat-form-field appearance="legacy">
            <mat-label>Nickname</mat-label>
            <input matInput>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="legacy">
            <mat-label>Nombre</mat-label>
            <input matInput>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="legacy">
            <mat-label>Apellidos</mat-label>
            <input matInput>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="legacy">
            <mat-label>Email</mat-label>
            <input matInput>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="legacy">
            <mat-label>Escribe tu contraseña</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="legacy">
            <mat-label>Repite tu contraseña</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Regístrate</button>
      </form>

      <div class="signup">
        <a [routerLink]="['/login']">
          ¿Ya tienes una cuenta? Inicia sesión aquí.
        </a>
      </div>
    </div>
  </div>
</div>
